body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;
  background-color: #FFFFFF;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 32px;
}

.hero-section {
  background: #2e2f42;
  color: #fff;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 32px;
}

.button-primary {
  background: #4d5ae5;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #404bbf;
}

.feature-title,
.portfolio-subtitle,
.team-member h3 {
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-text,
.features-item p,
.portfolio-description,
.team-member p,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.team-title,
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

address {
  font-style: normal;
}

.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Скрытый заголовок для доступности */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


